<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/821fed29-e0c9-4312-a0e8-1f512f8c96fc/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/BoubuWebApp20190710082617</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://boubuwebapp20190710082617.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>boubuwebapp20190710082617.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BoubuWebApp20190710082617</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BoubuWebApp20190710082617</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmployeeContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:boubuwebapp20190710082617dbserver.database.windows.net,1433;Initial Catalog=BoubuWebApp20190710082617_db;User ID=tsubasa@boubuwebapp20190710082617dbserver;Password=Tu19950428" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BoubuWebApp.Models.EmployeeContext, BoubuWebApp" MigrationConfiguration="BoubuWebApp.Migrations.Configuration, BoubuWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EmployeeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:boubuwebapp20190710082617dbserver.database.windows.net,1433;Initial Catalog=BoubuWebApp20190710082617_db;User ID=tsubasa@boubuwebapp20190710082617dbserver;Password=Tu19950428</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>